.title {
  font-family: Raleway, sans-serif;
}
:root {
  --body-text-color: #2e2f42;
  --background-color: #2e2f42;
  --link-color: #404bbf;
  --subtitle-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
}
.container{
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1, h2, h3, h4, h5, p {
margin: 0;
margin-bottom: 0;
}
ul, ol{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img{
  display: block;
}
button{
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--link-color);
}
.accent {
  color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.suptitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

/*============================Header============================*/
.header{
  display: flex;
  background-color: aqua;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.nav{
  display: flex;
}
.site-nav {
display: block;
display: flex;
background-color: yellow;
margin-top: 24px;
margin-bottom: 24px;
}

.site-nav .list:not(:last-child)
{
  margin-right: 40px;
}

.web-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  background-color:greenyellow;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.header-item:hover,
.header-item:focus {
  color: var(--link-color);
}
.address{
  display: flex;
  background-color:orangered;
  margin-top: 24px;
  margin-bottom: 24px;
}
.tel {
  margin-left: 40px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail {
  margin-left: ;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.tel:hover,
.tel:focus {
  color: var(--link-color);
}
.mail:hover,
.mail:focus {
  color: var(--link-color);
}
/*============================Sections============================*/
.hero {
  background-color: var(--background-color);
  text-align: center;
  justify-content:center
}
.hero-text {
  max-width: 494px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 188px;

  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: teal;
}
.our-team {
  background-color: #f4f4fd;
}

.section-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.features{
  background-color: yellow;
}
.doings{
  background-color: coral;
}

/*============================Buttons============================*/
.button-index {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 48px;
  margin-bottom: 188px;
}
.button-index:hover,
.button-index:focus {
  color: #e7e9fc;
  background-color: #404bbf;
}
.button-portfolio {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #4d5ae5;
  background-color: #e7e9fc;
  cursor: pointer;
}
.button-portfolio:hover {
  color: #e7e9fc;
  background-color: #4d5ae5;
}
.button-portfolio:focus {
  color: #e7e9fc;
  background-color: #404bbf;
}
/*============================Footer============================*/
.footer {
  background-color: var(--background-color);
}
.web-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
